<a href="https://colab.research.google.com/github/JuanSamaniego02/curso-ia-para-economia/blob/main/clases/2_Programacion_en_Python/4_Taller_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/LinaMariaCastro/curso-ia-para-economia/blob/main/clases/2_Programacion_en_Python/4_Taller_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Inteligencia Artificial con Aplicaciones en Econom√≠a I**

- üë©‚Äçüè´ **Profesora:** [Lina Mar√≠a Castro](https://www.linkedin.com/in/lina-maria-castro)  
- üìß **Email:** [lmcastroco@gmail.com](mailto:lmcastroco@gmail.com)  
- üéì **Universidad:** Universidad Externado de Colombia - Facultad de Econom√≠a

# **Taller Programaci√≥n en Python: Listas y listas de listas**
---

**IMPORTANTE**: Guarda una copia de este notebook en tu Google Drive o computador.

**Taller en parejas**

**Nombres estudiantes:**

- Alan Rios
- Juan Esteban Samaniego

**Forma de entrega:**

- Registrar las respuestas en https://forms.office.com/r/Bvu9qM9RXm para obtener la calificaci√≥n. Vale 20 puntos.

- Publicar Jupyter Notebook con el desarrollo del taller en la cuenta de Github de uno de los estudiantes. Nombrar el archivo de la siguiente forma:‚ÄúTaller_Listas_nombres_y_appellidos.ipynb‚Äù. Esto vale 5 puntos adicionales a las respuestas del formulario.

Puntaje total del taller: 25 puntos.

**Plazo de entrega:**

3 de febrero de 2026, m√°ximo a las 11:59 p.m. Tenga en cuenta que luego de esa hora el formulario en forms se cierra. El Jupupyter Notebook tambi√©n debe quedar subido en Github antes de esa hora.

**Instrucciones Generales:**

Completa el c√≥digo en las celdas marcadas con `### TU C√ìDIGO AQU√ç ###`. Puedes a√±adir m√°s celdas si lo requieres.

## **Bloque 1: Gesti√≥n de √çndices e Indicadores**
Trabajaremos con la lista `ipc_mensual = [0.5, 0.8, 1.2, 0.4, 0.3, 0.9, 1.1]` que representa la inflaci√≥n mensual.

In [124]:
ipc_mensual = [0.5, 0.8, 1.2, 0.4, 0.3, 0.9, 1.1]

In [125]:
# 1. Agrega el dato de inflaci√≥n del nuevo mes: 0.6 al final.
ipc_mensual.append(0.6)
print(ipc_mensual)

[0.5, 0.8, 1.2, 0.4, 0.3, 0.9, 1.1, 0.6]

In [126]:
# 2. Inserta el valor 0.7 en la segunda posici√≥n (√≠ndice 1) por un ajuste retroactivo.
ipc_mensual.insert(1, 0.7)
print(ipc_mensual)

[0.5, 0.7, 0.8, 1.2, 0.4, 0.3, 0.9, 1.1, 0.6]

In [127]:
# 3. El valor 1.2 fue un error de digitaci√≥n. C√°mbialo por 1.0.
ipc_mensual[3] = 1.0
print(ipc_mensual)

[0.5, 0.7, 0.8, 1.0, 0.4, 0.3, 0.9, 1.1, 0.6]

In [128]:
# 4. Extrae los primeros 3 meses en una lista llamada 'primer_trimestre'.
primer_trimestre=ipc_mensual[0:3]
print(primer_trimestre)

[0.5, 0.7, 0.8]

In [129]:
# 5. Extrae los √∫ltimos 2 meses en una lista llamada 'cierre_a√±o'.
cierre_a√±o=ipc_mensual[-2:]
print(cierre_a√±o)

[1.1, 0.6]

In [130]:
# 6. Ordena la lista de menor a mayor inflaci√≥n.
ipc_mensual.sort()
print(ipc_mensual)

[0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0, 1.1]

In [131]:
# 7. Encuentra el √≠ndice donde qued√≥ el valor m√°ximo (1.1) y gu√°rdalo en 'pos_max'.
pos_max=ipc_mensual.index(1.1)
print(pos_max)

8

In [132]:
# 8. Elimina el valor m√°s bajo de la lista (0.3).
ipc_mensual.remove(0.3)
print(ipc_mensual)

[0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0, 1.1]

In [133]:
# 9. Cuenta cu√°ntas veces aparece el valor 0.6 y gu√°rdalo en 'conteo_06'.
conteo_06=ipc_mensual.count(0.6)
print(conteo_06)

1

In [134]:
# 10. Invierte el orden actual de la lista.
ipc_mensual[::-1]

[1.1, 1.0, 0.9, 0.8, 0.7, 0.6, 0.5, 0.4]

In [135]:
# --- VERIFICACI√ìN AUTOM√ÅTICA - NO MODIFICAR ESTA CELDA ---
assert len(ipc_mensual) == 8
assert 0.3 not in ipc_mensual
assert primer_trimestre == [0.5, 0.7, 0.8]
assert cierre_a√±o == [1.1, 0.6]
print("¬°Bloque 1 completado!")

¬°Bloque 1 completado!

## **Bloque 2: Listas de Listas - Microdatos de Empresas**
Gestionar√°s la siguiente matriz `empresas = [['E1', 500, True], ['E2', 150, False], ['E3', 1200, True]]`.
Cada sublista corresponde a `[Nombre_Empresa, N√∫mero_Empleados, Cotiza_Bolsa]`.

In [136]:
empresas = [['E1', 500, True], ['E2', 150, False], ['E3', 1200, True]]

In [137]:
# 11. Accede al n√∫mero de empleados de 'E2' y gu√°rdalo en 'emp_e2'.
emp_e2=empresas[1][1]
print(emp_e2)

150

In [138]:
# 12. Cambia el estado de 'E2' a True (ahora cotiza en bolsa).
empresas[1][2]=True
print(empresas)

[['E1', 500, True], ['E2', 150, True], ['E3', 1200, True]]

In [139]:
# 13. Agrega una nueva empresa: ['E4', 800, False].
empresas.append(['E4', 800, False])
print(empresas)

[['E1', 500, True], ['E2', 150, True], ['E3', 1200, True], ['E4', 800, False]]

In [140]:
# 14. Calcula el total de empresas en la matriz y gu√°rdalo en 'n_empresas'.
n_empresas=len(empresas)
print(n_empresas)

4

In [141]:
# 15. Crea una lista vac√≠a 'nombres' y usa un 'for' para llenarla con los nombres (E1, E2...).
nombres = []

for e in empresas:
    nombres.append(e[0])

print(nombres)

['E1', 'E2', 'E3', 'E4']

In [142]:
# 16. Calcula el promedio de empleados y gu√°rdalo en 'promedio_emp'.
empleados = []

for emp in empresas:
    empleados.append(emp[1])

promedio_emp = (empleados[0]+empleados[1]+empleados[2]+empleados[3])/4
print(promedio_emp)

662.5

In [143]:
# 17. Elimina la sublista de la empresa 'E1'.
empresas.pop(0)
print(empresas)

[['E2', 150, True], ['E3', 1200, True], ['E4', 800, False]]

In [144]:
# 18. Accede al nombre de la √∫ltima empresa de la lista y gu√°rdalo en 'ultima_emp'.
### TU C√ìDIGO AQU√ç ###
ultima_emp=empresas[2][0]
print(ultima_emp)

E4

In [145]:
# 19. Crea una lista 'grandes' con las empresas que tienen > 1000 empleados (trae la sublista con la informaci√≥n completa de la o las empresas).
grandes = []

for emp in empresas:
    if emp[1] > 1000:
        grandes.append(emp)

print(grandes)

[['E3', 1200, True]]

In [146]:
# 20. Modifica el nombre de 'E2' a 'Empresa Lider' dentro de la matriz.
empresas[0][0]= "Empresa Lider"
print(empresas)

[['Empresa Lider', 150, True], ['E3', 1200, True], ['E4', 800, False]]

In [147]:
# --- VERIFICACI√ìN AUTOM√ÅTICA - NO MODIFICAR ESTA CELDA ---
assert emp_e2 == 150
assert empresas[0][0] == 'Empresa Lider'
assert n_empresas == 4
assert nombres == ['E1', 'E2', 'E3', 'E4']
assert promedio_emp == 662.5
assert len(grandes) == 1
print("¬°Taller finalizado exitosamente!")

¬°Taller finalizado exitosamente!